@page
@model PRN221PE_SP24_TrialTest_SE160233_RazorPage.Pages.EyeGlassPage.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Eyeglass</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Eyeglass.EyeglassesName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Eyeglass.EyeglassesName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Eyeglass.EyeglassesDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Eyeglass.EyeglassesDescription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Eyeglass.FrameColor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Eyeglass.FrameColor)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Eyeglass.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Eyeglass.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Eyeglass.Quantity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Eyeglass.Quantity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Eyeglass.CreatedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Eyeglass.CreatedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Eyeglass.LensType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Eyeglass.LensType.LensTypeId)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Eyeglass?.EyeglassesId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
