@page
@model Equipments_AnDB.Pages.RazorPageModel
@using DataAccess.Models;
@{
    ViewData["Title"] = "View";
    Account user = Equipments_AnDB.SessionExtensions.Get<Account>(HttpContext.Session, "User");
    int role = user.RoleId ?? 0;
}

<h1 class="text-center mt-5"> Eyeglasses </h1>
@if (role == 1)  // Add Item
{
    <a href="/AddItem" class="btn btn-success"> Add New ITem</a>
}


@* // Form Search *@
<form class="form-horizontal mb-5" method="post">
    <div class="input-group mb-3 mt-5">
        <input type="text" class="form-control" placeholder="Input Price" asp-for="SearchQuatity">
        <input type="text" class="form-control" placeholder="Input Description" asp-for="SearchDescription">
        <input type="hidden" name="CurrentPage" value="@Model.CurrentPage">
        <button class="btn btn-primary" type="submit" asp-page-handler="SearchItem">Search</button>
    </div>
</form>
<div>
    @if (!string.IsNullOrEmpty(ViewData["ErrorMessage"] as string))
    {
        <div class="alert alert-danger mt-3" role="alert">
            @ViewData["ErrorMessage"]
        </div>
    }
</div>



@* Form Table *@
<div class="table-responsive mt-5">
    <table class="table table-hover">
        <thead class="thead-light">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">EqCode</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Model</th>
                <th scope="col">SupplierName</th>
                <th scope="col">Quantity</th>
                <th scope="col">Created Date</th>
                <th scope="col">Updated Date</th>

                <th scope="col">Room Name</th>
                <th scope="col" class="text-center">Action</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.listEye == null || Model.listEye.ToList().Count == 0)
            {
                <tr>
                    <td colspan="9" class="text-center">No auction</td>
                </tr>
            }
            else
            {
                @foreach (var item in Model.listEye)
                {
                    <form method="post">
                    <tr>
                        <td>@item.EqId</td>
                        <td>@item.EqCode</td>
                        <td>@item.EqName</td>
                        <td>@item.Description</td>
                        <td>@item.Model</td>
                        <td>@item.SupplierName</td>
                        <td>@item.Quantity</td>
                        <td>@item.CreatedAt</td>
                        <td>@item.UpdatedAt</td>
                        <td>@item.Room.RoomName</td>
                        <td>
                                @if (role == 1)
                                {
                                <a class="btn btn-warning" asp-page="/UpdateItem" asp-route-IdItemUpdate="@item.EqId">Update</a>
                                <input type="hidden" asp-for="SearchQuatity" value="@Model.SearchQuatity">
                                <input type="hidden" asp-for="SearchDescription" value="@Model.SearchDescription">
                                <input type="hidden" name="CurrentPage" value="@Model.CurrentPage">
                                <input type="hidden" name="IdItem" value="@item.EqId">
                                <button class="btn btn-danger" asp-page-handler="DeleteItem">Delete</button>
                                }
                        </td>
                    </tr>
                    </form>
                }
            }
        </tbody>
    </table>
</div>

@* Phân trang *@
@if (Model.TotalPages > 1)
{
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            @for (int i = 1; i <= Model.TotalPages; i++)
            {
                <li class="page-item @(i == Model.CurrentPage ? "active" : "")">
                    <a class="page-link" href="?currentPage=@i&searchPrice=@Model.SearchQuatity&searchDescription=@Model.SearchDescription">@i</a>
                </li>
            }
        </ul>
    </nav>
}
